version: 2

aliases:
  - &container_config
    docker:
      - image: circleci/node:carbon

    working_directory: ~/repo

  - &checkout checkout

  - &save_cache
    save_cache:
      paths:
        - node_modules
      key: dependencies-cache-{{ checksum "yarn.lock" }}

  - &restore_cache
    restore_cache:
      keys:
        - dependencies-cache-{{ checksum "yarn.lock" }}
        # fallback to using the latest cache if no exact match is found
        - dependencies-cache

  - &install_dependencies
    run:
      name: Install Dependencies
      command: yarn install

  - &run_linter
    run:
      name: Run Linter
      command: yarn lint

  - &run_prettier
    run:
      name: Run Prettier
      command: yarn prettier:ci

  - &run_tests
    run:
      name: Run Tests
      command: yarn test:ci

  - &store_test_results
    store_test_results:
      path: reports/junit

  - &report_test_coverage
    run:
      name: Report Tests Coverage
      command: yarn coverage:ci

  - &persist_to_workspace
    persist_to_workspace:
      root: ~/repo
      paths: .

  - &attach_workspace
    attach_workspace:
      at: ~/repo

  - &npm_authenticate
    run:
      name: Authenticate with registry
      command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc

  - &npm_publish
    run:
      name: Publish package
      command: npm publish

jobs:
  test:
    <<: *container_config

    steps:
      - *checkout
      - *restore_cache
      - *install_dependencies
      - *save_cache
      - *run_linter
      - *run_prettier
      - *run_tests
      - *store_test_results
      - *report_test_coverage
      - *persist_to_workspace

  deploy:
    <<: *container_config

    steps:
      - *attach_workspace
      - *npm_authenticate
      - *npm_publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
